<footer>
    <div class="f-info">
        <div class="f-info-socials">
        <a href="/linked"><i class="fa-brands fa-linkedin"></i></a>
        <a href="/instagram"><i class="fa-brands fa-instagram"></i></a> 
            <a href="/facebook">   <i class="fa-brands fa-facebook"></i></a> 
    </div>
        <div>&copy;wanderlust Private Limited</div>
        <div  class="f-info-links">
            <a href="/privacy" >Privacy </a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>